#java-section,#php-section,#c-section{

margin:5px;
margin-top:-20%;
margin-left:16%;
padding:5px;
border: 1px solid darkblue;
border-radius:15px;
width:81%;
height:145%;
/*position:absolute;*/
/*text-align:left;*/
}

#java,#php,#c{
margin-top:0px;
margin-left:10px;
font-family:Arial;
font-size:25px;
color:darkblue;
border-bottom: 1px solid Silver;
}