/*BODY*/
body{
margin:0px;
padding:0px;
background-color:#333333;
}
/*HEADER SECTION*/
#header{
width: 84.3em;
background-color:white;
border-bottom:3px solid #663366; 
}
#header img{
margin:0;
padding:0;
}
#header a{
text-decoration: none;
}
#header #login_forum{
float:right;
padding:9px;
padding-bottom:0px;
margin:2px;
margin-top:1px;
height:60px;
margin-bottom:0px;
text-align:right;
background-color:#663366;
border-radius:15px;
border: 1px solid Silver;
}
#forget_pass {
margin-top:0px;
margin-right:0px;
font-size:14px;
}
#forget_pass a{
color:Silver;
text-decoration: none;
font-family: "Times New Roman", Times, Serif;
}
#forget_pass a:hover{
color:#336699;
}
/* BUTTON SECTION */
#sign-up ,#sign-in{
list-style-type:none;
color:Silver;
margin:2px;
padding:2px;
height:30px;
width:65px;
background-color:Purple;
border-radius:8px;
border: 1px solid #999999;
}
#user,#pass{
height:27px;
width:140px;
border-radius:10px;
background-color:white;
border: 1px solid Silver;
}
#sign-up:hover,#sign-in:hover{
background-color:#663359;
color:Silver;
border: 2px solid #660066;
}


/*BODY SECTION*/
#body{
background-color:white;
padding-left:5px;
padding-right:5px;
padding-top:0.1px;
padding-bottom:400px;
height:39.9em;
width: 83em;
margin:9px;
border-radius:10px;
}
/*HOME SECTION CLASS*/

/*NAVBAR SECTION*/
#navbar{
text-align:center;
font-size:20px;
background:#333333;
width:1100px;
height:6.3%;
line-height:40px;
margin-top:0px;
margin-left:215px;
margin-right:auto;
margin-bottom:0;
border-radius:15px;
}
#navbar ul li{
display:inline;
padding:5px;
margin:15px;
font-family: "Times New Roman", Times, Serif;
}
#navbar ul{
padding:0px;
margin:5px;
list-style:none;
/*position:relative;*/
}
#navbar a{
text-decoration: none;
color:white;
padding: 9px 3px 9px 3px;
margin-top:5px;
}
#navbar #contact{
color:#FFFFFF;
background-color:#663366;
}
#navbar #contact:hover{
background-color:Silver;
color:#333333;
}
#navbar a:hover{
background-color:Silver;
color:black;
}
/*MENU SECTION*/
#menu{
background:#663366;
border-radius:15px;
height:250px;
width:170px;
line-height: 22px;
padding:10px;
margin:5px;
margin-bottom:0;
margin-top:5px;
border: 2px solid Silver;
}
#menu ul li a{
display:block;
border-bottom:1px solid black;
padding:6px;
margin:5px;
list-style-type:none;
font-family: "Times New Roman", Times, Serif;
text-decoration: none;
color:white;
font-size:18px;
vertical-align:middle;
}
/*
#menu a{
padding: 25px 25px 25px 25px;
}*/
#menu ul{
height:280px;
padding:0px;
margin:3px;
list-style-type:none;
}

#menu a:hover{
background-color:Silver;
color:black;
}
/* SEARCH */
#search-text{
height:27px;
width:230px;
font-family:Airal;
border-radius:12px;
border: 2px solid silver;
}
#search{
height:31px;
width:42px;
margin-top:-36px;
margin-left:1039px;
border-radius:10px;
background-color:#663366;
border: 1px solid Silver;
}
#search:hover{
background-color:white;
color:Silver;
border: 1px solid White;
}

/* */
.home-section{
font-family:"Times New Roman";
color:Silver;
font-size:15px;
margin:2px;
margin-top:0px;
border: 2px solid Sliver;
background-color:#663366;
border-radius:10px;
}
.ar-link-style{
padding:2px;
margin:7px;
margin-left:25px;
text-align:left;
font-size:15px;
border-bottom: 1px solid Silver;
}
.ar-link-style a{
text-decoration: none;
color:Darkblue;
font-family:Arial;
}
.ar-link-style a:hover{
color:Gray;
}
.img-st img{
margin:2px;
margin-bottom:0px;
padding:2px;
margin-left:-155px;
width:52px;
height:46px;
border-radius:15px;
border-bottom: 1px solid Silver;
opacity:1.0;
}
.img-st img:hover{
opacity:0.7;
}
.img-st a{
margin:2px;
padding:2px;
margin-left:9px;
float:left;
color:black;
font-size:17px;
}

/* NEWS SECTION */
.news-img{
margin:0px;
padding:2px;
margin-right:6px;
float:left;
width:200px;
height:95px;
border-radius:15px;
border: 2px solid Silver;
opacity:1.0;
}
.news-img:hover{
opacity:0.8;
}
.news-p{
border-bottom: 1px solid Silver;
text-align:left;
color:Gray;
margin:7px;
padding:0px;
}
.news-links{
margin-bottom:3px;
text-align:left;
font-size:15px;
}
.news-links a{
padding:2px;
margin-left:1px;
text-decoration: none;
font-family:Arial;
color:Darkblue;
}
.news-links a:hover{
color:Gray;
}
#more-news{
margin-top:-5px;
}
#more-news a{
color:Silver;
font-size:16px;
font-family:Arial;
text-decoration: none;
}
#more-news a:hover{
color:Purple;
}

/* TOP CODER SECTION */
.coder {
padding:2px;
margin:2px;
font-size:16px;
border-bottom: 1px solid Silver;
}
.coder a{
position:absolute;
margin-top:-45px;
margin-left:-25px;
text-decoration: none;
color:gray;
}
.coder a:hover{
color:black;
}
.list{
padding:0;
margin:0;
}
.list a{
font-family:Arial;
color:Silver;
text-decoration: none;
}
.list a:hover{
color:purple;
}

.more{
margin:0px;
margin-top:-6px;
padding:5px;
height:30px;
margin-left:22px;
text-align:left;
border-radius:2px;
}
.more a{
text-decoration: none;
color:Silver;
}
.more a:hover{
color:purple;
}
#articles, #projects, #top-coder, #questions, #tutorials,#news{
border-radius:10px;
border: 1px solid #336699;
text-align:center;
}

/*ARTICLES SECTION*/
#articles{ 
padding:2px;
margin:5px;
margin-left:220px;
margin-top:-270px;
height:250px;
width:420px;
} 

/*PROJECTS SECTION*/
#projects{
padding:2px;
margin:5px;
margin-left:220px;
margin-top:10px;
height:250px;
width:420px;
}

/*TOP CODERS SECTION*/
#top-coder{
padding:2px;
margin:5px;
margin-left:655px;
margin-top:-527px;
height:513px;
width:250px;
}
/*QUESTIONS SECTION*/
#questions{
padding:2px;
margin:5px;
margin-left:922px;
margin-top:-523px;
height:250px;
width:385px;
}

/*TUTORIALS SECTION*/
#tutorials{
padding:2px;
margin:5px;
margin-left:922px;
height:250px;
width:385px;
}
/*NEWS SECTION*/
#news{
padding:2px;
margin:5px;
margin-left:220px;
margin-top:10px;
height:420px;
width:1090px;
}

/*FOOTER SECTION*/
#footer{
margin:0px;
height:90px;
width:1330px;
padding:10px;
background-color:#663366;
border-top: 1px solid #333366;
}
#copy-right{
color:Silver;
font-size:16px;
font-family:Arial;
margin-top:65px;
position:absolute;
left:585px;
top:1155px;
}