#body-login{
background-color:white;
padding-left:5px;
padding-right:5px;
padding-top:0.1px;
height:39.9em;
margin:9px;
border-radius:10px;
}
#copy-right-l{
color:Silver;
font-size:16px;
font-family:Arial;
margin-top:65px;
position:absolute;
left:585px;
top:755px;
}

#login-form{
display: table;
color:Gray;
height:150px;
width:400px;
padding:15px;
border: 1px solid Silver;
background-color: white;
border-radius:10px;
background-color:light;
position:absolute;
right:390px;
top:220px;
text-align:center;
}
#login-form a{
text-decoration: none;
}
#Register{
display: table;
color:Gray;
height:420px;
width:760px;
padding:15px;
border: 1px solid Silver;
background-color: white;
border-radius:10px;
background-color:light;
position:absolute;
right:200px;
top:160px;
text-align:center;
}



#sign-up-lp,#sign-in-lp{
list-style-type:none;
color:Silver;
margin:2px;
margin-top:7px;
margin-left:10px;
padding:2px;
height:35px;
width:75px;
background-color:Purple;
border-radius:10px;
border: 1px solid #999999;
}

#sign-up-lp:hover,#sign-in-lp:hover{
background-color:Silver;
color:black;
}

#forget_pass-lp a{
text-decoration: none;
color:Darkblue;
font-family:Arial;
font-size:13px;
}
#forget_pass-lp a:hover{
color:Gray;
}
#user-name,#password{
height:30px;
width:250px;
border-radius:10px;
padding:8px;
border:1px solid silver;
}
#selects{
height:50px;
width:270px;
margin-top:15px;
border-radius:10px;
padding:10px;
border:1px solid silver;
}

.gender{
padding: 10px;
margin:15px;
font-family:Arial;
font-size:17px;
color:Gray;
float:left;
margin-right:150px;
margin-top:15px;
}
.row{
display: table-row;
margin:5px;
padding:5px;
}
.row label{
display: table-cell;
padding: 10px;
margin:10px;
text-align:right;
}
.row input {
display: table-cell;
padding: 2px;
margin-top:15px;
}